In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
data=pd.read_csv('people_wiki.csv')

In [3]:
data.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42786 entries, 0 to 42785
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   URI     42786 non-null  object
 1   name    42786 non-null  object
 2   text    42786 non-null  object
dtypes: object(3)
memory usage: 501.5+ KB

## TF-IDF

In [5]:
corpus={}

In [6]:
def count_words(df):
    text = list(df.split(' '))
    d={}
    global corpus
    for i in text:
        if i in d.keys():
            d[i]+=1.0
        else:
            d[i]=1.0
            if i in corpus.keys():
                corpus[i]+=1
            else:
                corpus[i]=1
    return d

In [7]:
data['count_words']=data['text'].apply(count_words)

In [8]:
data.head()

,URI,name,text,count_words
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"{'digby': 1.0, 'morrell': 5.0, 'born': 1.0, '1..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"{'alfred': 1.0, 'j': 1.0, 'lewy': 3.0, 'aka': ..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"{'harpdog': 2.0, 'brown': 2.0, 'is': 7.0, 'a':..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"{'franz': 1.0, 'rottensteiner': 3.0, 'born': 1..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"{'henry': 1.0, 'krvits': 1.0, 'born': 1.0, '30..."

In [9]:
def calculateTF(word_count,words):
    #l=len(words)
    d={}
    for word,count in word_count.items():
        d[word]=count#/float(l);
    return d;

In [10]:
def calculateIDF(text):
    global corpus
    n=len(data)
    d={}
    for word in text.keys():
        d[word]=math.log(n/(float(corpus[word])+1))
    return d

In [11]:
def tfidf(word_count,text):
    d1=calculateTF(word_count,list(text.split(' ')))
    d2=calculateIDF(word_count)
    d3={}
    for i in d1.keys():
        d3[i]=d1[i]*d2[i]
    return d3

In [12]:
data['tfidf']=data.apply(lambda row:tfidf(row['count_words'],row['text']),axis=1)

In [13]:
data

,URI,name,text,count_words,tfidf
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"{'digby': 1.0, 'morrell': 5.0, 'born': 1.0, '1...","{'digby': 8.46674164792014, 'morrell': 46.3883..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"{'alfred': 1.0, 'j': 1.0, 'lewy': 3.0, 'aka': ...","{'alfred': 4.874006054359105, 'j': 3.271318704..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"{'harpdog': 2.0, 'brown': 2.0, 'is': 7.0, 'a':...","{'harpdog': 19.941638089392825, 'brown': 7.283..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"{'franz': 1.0, 'rottensteiner': 3.0, 'born': 1...","{'franz': 5.528167788206097, 'rottensteiner': ..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"{'henry': 1.0, 'krvits': 1.0, 'born': 1.0, '30...","{'henry': 3.9571038886536116, 'krvits': 9.5653..."
...,...,...,...,...,...
42781,<http://dbpedia.org/resource/Motoaki_Takenouchi>,Motoaki Takenouchi,motoaki takenouchi born july 8 1967 saitama pr...,"{'motoaki': 1.0, 'takenouchi': 3.0, 'born': 1....","{'motoaki': 9.970819044696412, 'takenouchi': 2..."
42782,<http://dbpedia.org/resource/Alan_Judge_(footb...,"Alan Judge (footballer, born 1960)",alan graham judge born 14 may 1960 is a retire...,"{'alan': 2.0, 'graham': 1.0, 'judge': 2.0, 'bo...","{'alan': 7.853998534509007, 'graham': 4.541473..."
42783,<http://dbpedia.org/resource/Eduardo_Lara>,Eduardo Lara,eduardo lara lozano born 4 september 1959 in c...,"{'eduardo': 1.0, 'lara': 3.0, 'lozano': 1.0, '...","{'eduardo': 5.736712540099154, 'lara': 19.9698..."
42784,<http://dbpedia.org/resource/Tatiana_Faberg%C3...,Tatiana Faberg%C3%A9,tatiana faberg is an author and faberg scholar...,"{'tatiana': 2.0, 'faberg': 16.0, 'is': 4.0, 'a...","{'tatiana': 14.052760131059946, 'faberg': 141...."
42785,<http://dbpedia.org/resource/Kenneth_Thomas>,Kenneth Thomas,kenneth thomas born february 24 1938 was chief...,"{'kenneth': 1.0, 'thomas': 3.0, 'born': 2.0, '...","{'kenneth': 4.811763745481884, 'thomas': 9.926..."

## KNN

In [14]:
def similarity(d1,d2):
    d3=0
    for key,value in d1.items():
        if key in d2.keys():
            d3=d3+(value*d2[key])
    return d3

In [15]:
def similar_articles(index,n):
    maxi=[]
    m="null"
    for i in range(n):
        maximum=0
        for row in range(len(data)):
            s = similarity(data.iloc[index,4],data.iloc[row,4])
            if s>maximum and row!=index and data['name'][row] not in maxi:
                maximum=s
                m=data['name'][row]
        maxi.append(m)
    return maxi

In [16]:
def result():
    person=input("Enter the name of the person : ")
    n=int(input("Enter the number of people you want :"))
    try:
        index=data.index[data['name'] == person].tolist()
        l=similar_articles(index[0],n)
        print("\nThe "+str(n)+" people who are similar to "+person+" are\n")
        for i in range(len(l)):
            print(str(i+1)+" "+l[i],end="\n")
    except:
        print("No results found")

In [17]:
result()

Enter the name of the person : Barack Obama
Enter the number of people you want :8

The 8 people who are similar to Barack Obama are

1 Joe Biden
2 Chris Redfern
3 Kcho
4 Joe Lieberman
5 Abe Gupta
6 M. Cherif Bassiouni
7 Ira De Ment
8 Pedro Nava (politician)

In [18]:
result()

Enter the name of the person : David Beckham
Enter the number of people you want :5

The 5 people who are similar to David Beckham are

1 Akhtar Mohiuddin
2 Kcho
3 Johnny Culloty
4 Gary Kelly (footballer, born 1966)
5 Michael Owen

In [19]:
result()

Enter the name of the person : Elizabeth II
Enter the number of people you want :4

The 4 people who are similar to Elizabeth II are

1 Chitra Visweswaran
2 Pat Studdy-Clift
3 Prince Philip, Duke of Edinburgh
4 Ana Maria de Martinez

In [20]:
result()

Enter the name of the person : Prince Philip, Duke of Edinburgh
Enter the number of people you want :4

The 4 people who are similar to Prince Philip, Duke of Edinburgh are

1 Yi Won
2 Elizabeth II
3 Philip Pocock
4 Prince Nikola of Yugoslavia (b. 1958)

In [23]:
result()

Enter the name of the person : Narendra Modi
Enter the number of people you want :10

The 10 people who are similar to Narendra Modi are

1 Annasaheb M. K. Patil
2 Jagdish Mukhi
3 Parsottambhai Rupala
4 Praful Thakkar
5 Amit Shah (mayor)
6 Vijayendrapal Singh
7 Rasheed Masood
8 Raosaheb Dadarao Danve
9 Basudeb Acharia
10 Imran Masood

In [27]:
result()

Enter the name of the person : Chitra Visweswaran
Enter the number of people you want :3

The 3 people who are similar to Chitra Visweswaran are

1 Sheron Wray
2 Laura Dean
3 Aparna Sindhoor

In [30]:
result()

Enter the name of the person : Mahesh Babu
Enter the number of people you want :8

The 8 people who are similar to Mahesh Babu are

1 Simon Staho
2 Ram Gopal Varma
3 Singeetam Srinivasa Rao
4 Nitzan Gilady
5 Chiranjeevi
6 Krishna (actor)
7 Shriya Saran
8 K. M. Madhusudhanan

In [32]:
result()

Enter the name of the person : Ed Sheeran
Enter the number of people you want :4

The 4 people who are similar to Ed Sheeran are

1 Anthony Lun
2 Mikill Pane
3 Alexandra Burke
4 Kcho

In [35]:
result()

Enter the name of the person : Joe Biden
Enter the number of people you want :5

The 5 people who are similar to Joe Biden are

1 Jill Biden
2 Barack Obama
3 Cynthia Hogan
4 Chris Coons
5 Richard Morgan Downey